.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  min-width: 500px;
  margin: 10px;
  border: 1px solid rgb(195, 188, 188);
  border-radius: 5px;
  background-color: $body-bg;
  height: 100%;

  flex-direction: column;
  .form-title {
    text-align: start;
    font-weight: 800;
    padding: 10px;
    color: $primary;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(194, 186, 186);
    display: flex;
    justify-content: space-between;
    i {
      margin-top: 10px;
      color: $error;
    }
  }
  .form {
    width: 100%;
    padding: 10px;
    flex: 10;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .form-content {
      max-height: 70vh;
      overflow-x: auto;
      flex: 12;
    }
    label {
      color: $primary;
      font-size: 1rem;
      font-weight: 600;
    }
    .field {
      margin: 5px 0;
      display: block;
      width: 100%;
      height: 30px;
      border: 1px solid rgb(195, 188, 188);
      border-radius: 5px;
      padding-left: 5px;
    }
    .form-error {
      color: $error;
    }
  }

  .form-action-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(194, 186, 186);
    margin-top: 20px;
    padding: 10px;
  }
}
.form-modal {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
