:root {
  color-scheme: dark; }

body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Open Sans, sans-serif; }

html,
body {
  background-color: #000000;
  color: #ffffff; }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none; }

.k-textarea:disabled,
.k-textarea[disabled],
.k-textarea.k-disabled {
  pointer-events: inherit !important; }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf") format("truetype"); }

body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 1.25rem;
  font-weight: 400; }

h2 {
  font-size: 1rem;
  font-weight: 200; }

h3 {
  font-size: 1.25rem;
  font-weight: 400; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.25rem; }

p {
  font-size: 1rem; }

a {
  font-size: 1rem; }

@media (min-width: 480px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 400; }
  h2 {
    font-size: 1.25rem;
    font-weight: 200; } }

@media (min-width: 768px) {
  h1 {
    font-size: 1.75rem;
    font-weight: 400; }
  h2 {
    font-size: 1.75rem;
    font-weight: 200; } }

body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.7142857142857142em;
  font-style: inherit;
  line-height: 1.1666666666666667;
  color: var(--text-highEmphasis, #172b4d);
  font-weight: 500;
  letter-spacing: -0.01em; }

a {
  text-decoration: none; }

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw; }

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  height: calc(100vh - 50px);
  flex: 1; }

.app-launcher {
  position: absolute;
  display: block;
  background-color: #000000;
  z-index: 15;
  color: #ffffff;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100vh;
  box-shadow: #aaaaaa 0px 4px 12px; }
  .app-launcher .applauncher-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .app-launcher .applauncher-header .k-button {
      font-size: 18px;
      color: #ffffff; }
  .app-launcher .app-launcher-wrapper {
    display: flex;
    flex-direction: column;
    margin: 35px 15px 15px; }
    .app-launcher .app-launcher-wrapper h1 {
      margin: 10px;
      color: #ffffff; }
    .app-launcher .app-launcher-wrapper .k-button {
      margin-left: 5px;
      width: 100%;
      justify-content: flex-start;
      font-size: 18px;
      color: #ffffff; }
    .app-launcher .app-launcher-wrapper .k-button-icon {
      font-size: 24px; }

.avatar-20 {
  width: 20px !important;
  height: 20px !important;
  flex-basis: 20px !important; }

.avatar-25 {
  width: 25px !important;
  height: 25px !important;
  flex-basis: 25px !important; }

.avatar-30 {
  width: 30px !important;
  height: 30px !important;
  flex-basis: 30px !important; }

.avatar-40 {
  width: 40px;
  height: 40px;
  margin-left: 5px !important; }

.k-master-row .k-editor {
  border: none;
  background: inherit; }

.k-editor-content > .ProseMirror {
  padding: 5px; }

.k-editor-content > .ProseMirror p {
  margin: 0px; }

.select-dialog-wrapper .k-window-content,
.select-dialog-wrapper .k-prompt-container {
  padding: 0 0 16px 0; }

.k-form-horizontal .k-form-buttons {
  margin-top: 0px; }

.block {
  display: block;
  width: 100%; }

.display-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.cover-viewport-height {
  height: 100vh; }

.k-spinner-increase,
.k-spinner-decrease {
  margin-left: 10px; }

.loading-page {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  background-color: #f1f1f1;
  opacity: 0.5;
  z-index: 999; }
  .loading-page .loader {
    top: 50%;
    left: 50%; }

.clear-outline {
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important; }

.k-tabstrip-items-wrapper {
  z-index: 1; }

.k-animation-container {
  z-index: initial; }

body > .k-animation-container {
  z-index: 10003; }

.k-badge-edge {
  z-index: 2; }

.app-content {
  height: calc(100vh - (50px));
  z-index: 5; }

.content-wrapper {
  height: 100%;
  width: 100%; }

.landing-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #34b581;
  height: 100%; }
  .landing-header .header-content {
    flex: 2;
    display: flex;
    height: inherit; }
    .landing-header .header-content .content {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: cursive; }
      .landing-header .header-content .content h2 {
        font-family: cursive;
        color: white; }
      .landing-header .header-content .content h1 {
        color: #ffffff;
        font-weight: 700;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    .landing-header .header-content .header-iamge {
      flex: 1;
      align-items: center;
      justify-content: center;
      display: flex; }
      .landing-header .header-content .header-iamge img {
        height: 400px;
        width: 400px; }
  .landing-header .landing-wave {
    flex: 1; }

@media (max-width: 500px) {
  .landing-header {
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 100%; } }

.drawer-wrapper {
  height: calc((calc(100vh - (50px))) - 5px);
  box-shadow: 3px 4px 5px -2px #ccc;
  -webkit-box-shadow: 3px 4px 5px -2px #ccc;
  -moz-box-shadow: 3px 4px 5px -2px #ccc;
  z-index: 6;
  transition: width ease-in 0.3s;
  margin-left: -10px;
  margin-top: 20px;
  border-top: 1px solid #ffffff;
  position: absolute;
  background-color: white; }

.drawer-user-info {
  display: flex;
  height: 70px;
  background-color: #34b581;
  width: 100%;
  color: white !important;
  font-weight: 600;
  font-weight: 600;
  justify-content: start;
  column-gap: 10px;
  align-items: center;
  padding-left: 10px; }
  .drawer-user-info .user-avatar {
    background-color: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem; }
  .drawer-user-info .user-info {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column; }
  .drawer-user-info .drawer-user-name {
    color: white;
    font-weight: 500; }
  .drawer-user-info .user-app {
    color: white;
    font-size: 0.75rem; }

.drawer-routes {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600px;
  padding: 10px;
  overflow-y: auto;
  padding-top: 20px;
  color: #ffffff; }
  .drawer-routes .routes-wrapper {
    display: flex;
    column-gap: 20px;
    height: 40px;
    padding: 10px;
    cursor: pointer; }
  .drawer-routes .routes-wrapper:hover {
    background-color: #34b581;
    color: #ffffff; }
  .drawer-routes .drawer-route {
    font-weight: 600;
    font-size: 0.75rem; }

@media (max-width: 500px) {
  .drawer-wrapper {
    width: 250px; }
  .drawer-user-info {
    padding-right: 5px; } }

@media (min-width: 500px) {
  .drawer-wrapper {
    width: 300px; } }

.k-no-auth {
  height: calc(100vh - (50px)); }

.header {
  height: 50px;
  width: 100%;
  background-color: #34b581;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #ffffff; }
  .header .header-app-info {
    display: flex;
    column-gap: 30px; }
    .header .header-app-info .app-logo {
      font-weight: 700;
      font-size: 1.25rem;
      margin-top: -4px; }
  .header .header-controls {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: -40px !important; }

.button {
  padding: 10px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent; }

.button:hover {
  background-color: #ffffff;
  color: #34b581; }

.login-page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%; }

.login-form-wrapper {
  flex: 1;
  padding: 50px; }
  .login-form-wrapper .login-form-header {
    font-weight: 700;
    font-size: 30px;
    color: #34b581;
    margin-bottom: 20px; }
  .login-form-wrapper form {
    padding: 20px;
    background-color: #f4f4fa;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: 600px;
    border-radius: 10px; }
    .login-form-wrapper form label {
      font-weight: 600;
      font-size: 14px; }
    .login-form-wrapper form input {
      height: 40px;
      width: 90%;
      border-radius: 3px;
      margin-bottom: 10px;
      border: 1px solid whitesmoke;
      padding-left: 10px;
      margin-top: 10px; }

.login-image {
  flex: 2; }
  .login-image img {
    height: 99%; }

.login-button {
  width: 90%;
  background-color: #34b581;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0; }

.signup-switch-button {
  background-color: none;
  color: #34b581;
  border: none;
  font-weight: 600;
  cursor: pointer; }

/* Define the animation */
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.error-message {
  animation: fadeOut 10s ease-out;
  color: red;
  font-weight: 600; }

.expenses-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  min-width: 500px;
  margin: 10px;
  border: 1px solid #c3bcbc;
  border-radius: 5px;
  background-color: #000000;
  height: 100%;
  flex-direction: column; }
  .form-wrapper .form-title {
    text-align: start;
    font-weight: 800;
    padding: 10px;
    color: #34b581;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid #c2baba;
    display: flex;
    justify-content: space-between; }
    .form-wrapper .form-title i {
      margin-top: 10px;
      color: #dc3545; }
  .form-wrapper .form {
    width: 100%;
    padding: 10px;
    flex: 10;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    .form-wrapper .form .form-content {
      max-height: 70vh;
      overflow-x: auto;
      flex: 12; }
    .form-wrapper .form label {
      color: #34b581;
      font-size: 1rem;
      font-weight: 600; }
    .form-wrapper .form .field {
      margin: 5px 0;
      display: block;
      width: 100%;
      height: 30px;
      border: 1px solid #c3bcbc;
      border-radius: 5px;
      padding-left: 5px; }
    .form-wrapper .form .form-error {
      color: #dc3545; }
  .form-wrapper .form-action-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #c2baba;
    margin-top: 20px;
    padding: 10px; }

.form-modal {
  display: flex;
  justify-content: center;
  padding: 0 10px; }
