body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Open Sans, sans-serif;
}
html,
body {
  background-color: $body-bg;
  color: $body-text;
  &::-webkit-scrollbar {
    display: none;
  }
}

// Make disabled textarea resizable.
.k-textarea:disabled,
.k-textarea[disabled],
.k-textarea.k-disabled {
  pointer-events: inherit !important;
}
